@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
/* 回答はここに書いてね */
.q1__content {
  width: 940px;
  background-color: #eff3f4;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.q1__content__box {
  width: 230px;
  background-color: #3274ae;
  float: left;
  margin-left: 20px;
  padding: 20px;
}

.q1__content__text {
  font-size: 16px;
  line-height: 16px;
  background-color: #eaf4ff;
  padding: 20px;
  border: solid 10px #022336;
}
/* 回答はここに書いてね */
