@charset "UTF-8";

/* 回答はここに書いてね */

.is-clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.q7__basic-square {
  box-sizing: border-box;
  width: 225px;
}

.q7__float__content {
  float: left;
  margin-left: 50px;
}

.q7__float__content:first-child {
  margin-left: 0;
}

.is-table {
  display: table;
}

.is-table-cell {
  box-sizing: content-box;
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}

.is-table-cell:first-child {
  padding-left: 0; 
}

.ib {
  font-size: 0;
}

.q7__ib__content {
  display: inline-block;
  font-size: 16px;
  margin-left: 50px;
  vertical-align: middle;
}

 .q7__ib__content:first-child {
  margin-left: 0;
} 

.is-flex {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
}

.q7__fixed {
  display: inline-block;
  width: 300px;
}

.q7__variable {
  box-sizing: border-box;
  display: inline-block;
  margin-left: -305px;
  padding-left: 350px;
  vertical-align: top;
  width: 100%;
}

/* 回答はここに書いてね */
