@charset "UTF-8";

/* 回答はここに書いてね */

.option {
  padding: 20px;
  background-color: #ECF1F2;
  box-sizing: border-box;
}

.dtable_content {
  width: 100%;
  display: table;
  box-sizing: border-box;
  margin-top: 20px;
}

.dtable_content:first-child {
  margin-top: 0;
}

.dtable_contents_cell {
  padding-top: 20px;
  padding-bottom: 20px;
  display: table-cell;
  text-align: center;
}

.pink-box {
  width: 100px;
  background-color: #fdc8b8;
}

.purple-box-top {
  background-color: #e0abd9;
}

.blue-box-top {
  width: 100px;
  background-color: #b6d8ed;
}

.yellow-box {
  background-color: #e5d32e;
}

.purple-box-bot {
  background-color: #ec8f9a;
}

.blue-box-bot {
  width: 500px;
  background-color: #8fdcad;
}

/* 回答はここに書いてね */
