@charset "UTF-8";

/* 回答はここに書いてね */

.content {
  width: 500px;
  margin: 0 auto;
  border: solid 5px #222;
  border-radius: 30px;
  padding: 20px;
  position: relative;
}

.content::before, .content::after {
  border-style: solid;
  border-width: 30px;
  content: "";
  position: absolute;
  left: 20px;
  width: 0;
  height: 0;
}

.content::before {
  border-color: #222 transparent transparent transparent;
  bottom: -60px;
}

.content::after {
  border-color: #fff transparent transparent transparent;
  bottom: -53px;
}

.box__text {
  font-size: 16px;
  line-height: 16px;
}
/* 回答はここに書いてね */
