@charset "UTF-8";

/* 回答はここに書いてね */
.menu {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

th {
  font-size: 18px;
  line-height: 26px;
  color: #ffff;
  padding: 10px;
  border: solid 1px #dedede;
  background-color: #2244aa;
}

td {
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  border: solid 1px #dedede;
}

tbody tr:nth-child(2n) {
  background-color: #ecf1f2;
}

tbody tr:last-child {
  border-top: dashed 2px #000;
}

/* 回答はここに書いてね */
